@model  BigSchool.ViewModel.CoursesViewModel

@{
    ViewBag.Title = "Attending";
    
}

<h2>Attending</h2>

<div class="row">
    <ul class="course">
        @foreach (var course in Model.UpcommingCourses)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @course.DateTime.ToString("MM")
                    </div>
                    <div class="day">
                        @course.DateTime.ToString("dd")
                    </div>
                </div>
                <div class="details">
                    <div class="lecturer">
                        @course.Lecturer.Name
                        @if (Model.ShowAction)
                        {
                            <a class="btn btn-default btn-sm js-toggle-follow" data-user-id="@course.LecturerId">
                                Follow
                            </a>
                        }

                    </div>
                    <span class="category">
                        @course.Category.Name
                    </span> 
                </div>

            </li>
        }
    </ul>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-toggle-attendance").click(function (e) {
                var button = $(e.target);
                $.post("/api/Attendances", { courseId: button.attr("data-course-id") })
                    .done(function () {
                        button
                            .removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Going");
                        alert("Going Success!");
                    })
                    .fail(function () {
                        alert("Something failed!");
                    });
            });

            $('.js-toggle-follow').click(function (e) {
                var button = $(e.target);
                $.post("/api/Followings", { followeeId: button.attr('data-user-id') })
                    .done(function () {
                        button
                            .text('Following')
                            .removeClass("btn-default")                                                        
                        alert('Following Success!');
                    })
                    .fail(function () {
                        alert('Something failed!');
                    });

            });

        });
    </script>
}