@model  BigSchool.ViewModel.CoursesViewModel
@using Microsoft.AspNet.Identity
@using System.Collections.Generic;
@{
    ViewBag.Title = "Home Page";
    var listLecturer = (List<BigSchool.Models.Following>)ViewBag.ListLecturer;
    var listCourse = (List<BigSchool.Models.Attendance>)ViewBag.ListCourse;

}

<div class="row">
    <ul class="course">
        @foreach (var course in Model.UpcommingCourses)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @course.DateTime.ToString("MM")
                    </div>
                    <div class="day">
                        @course.DateTime.ToString("dd")
                    </div>
                </div>
                <div class="details">
                    <div class="lecturer">
                        @course.Lecturer.Name
                        @if (Model.ShowAction)
                        {
                            // kiem tra danh sach giang vien theo doi
                            if (listLecturer.Any(x => x.FolloweeId == course.LecturerId))
                            {
                                <a href="#" class="js-toggle-unfollow" data-user-id="@course.LecturerId">Following</a>
                            }
                            else
                            {
                                <a href="#" class="btn btn-default btn-sm js-toggle-follow" data-user-id="@course.LecturerId">
                                    Follow
                                </a>
                            }

                        }

                    </div>
                    <span class="category">
                        @course.Category.Name
                    </span>
                    @if (Model.ShowAction)
                    {
                        //Kiểm tra khoá học này đã tham gia chưa
                        if(listCourse.Any(x => x.CourseId == course.Id))
                        {
                            <a href="#" data-course-id="@course.Id" class="js-toggle-unattendance">Going</a>
                        }
                        else
                        {
                            <a href="#" data-course-id="@course.Id" class="btn btn-default btn-sm js-toggle-attendance">
                                Going?
                            </a>
                        }
                        
                    }
                    
                </div>

            </li>
        }
    </ul>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
            //going course
            $(".js-toggle-attendance").click(function (e) {
                e.preventDefault();
                var button = $(e.target);
                $.post("/api/Attendances", { courseId: button.attr("data-course-id"), status: true })
                    .done(function () {
                        button
                            .addClass('js-toggle-unattendance')
                            .removeClass('btn btn-default btn-sm js-toggle-attendance')                            
                            .text("Going");
                        alert("Going Success!");
                    })
                    .fail(function () {
                        alert("Something failed!");
                    });
            });

            //cancel going course
            $(".js-toggle-unattendance").click(function (e) {
                e.preventDefault();
                var button = $(e.target);
                $.post("/api/Attendances", { courseId: button.attr("data-course-id"), status: false })
                    .done(function () {
                        button
                            .addClass('btn btn-default btn-sm js-toggle-attendance')
                            .removeClass('js-toggle-unattendance')                                                      
                            .text("Going?");
                        alert("Cancel Going Success!");
                    })
                    .fail(function () {
                        alert("Something failed!");
                    });
            });

            //follow
            $('.js-toggle-follow').click(function (e) {
                e.preventDefault();
                var button = $(e.target);
                $.post("/api/Followings", { followeeId: button.attr('data-user-id'), status: true })
                    .done(function () {
                        button
                            .removeClass("btn btn-default btn-sm js-toggle-follow")
                            .addClass('js-toggle-unfollow')
                            .text('Following');
                        
                        alert('Following Success!');
                    })
                    .fail(function () {
                        alert('Something failed!');
                    });

            });

            // unfollow
            $('.js-toggle-unfollow').click(function (e) {
                e.preventDefault();
                var button = $(e.target);
                $.post("/api/Followings", { followeeId: button.attr('data-user-id'), status: false })
                    .done(function () {
                        button
                            .addClass("btn btn-default btn-sm js-toggle-follow")
                            .removeClass('js-toggle-unfollow')
                            .text('Follow');
                            
                        alert('Unfollow Success!');
                    })
                    .fail(function () {
                        alert('Something failed!');
                    });

            });

        });
    </script>
}